DATABASE_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
INITIAL_ADMIN_EMAILS=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_MAPBOX_TOKEN=
UPS_CLIENT_ID=
UPS_CLIENT_SECRET=
FEDEX_CLIENT_ID=
FEDEX_CLIENT_SECRET=
USPS_CLIENT_ID=
USPS_CLIENT_SECRET=
LTL_RATE_BACKEND_URL=
CARRIER_TENDER_BACKEND_URL=
